html, body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

body {
	display: -webkit-flex;
	display: -moz-flex;
	display: flex;

	-webkit-flex-flow: row wrap;
	-moz-flex-flow: row wrap;
	flex-flow: row wrap;

	font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

body > * {
	height: 100%;
	overflow: scroll;
}

#articles {
	-webkit-flex: 0.5;
	-moz-flex: 0.5;
	flex: 0.5;
}

#viewer {
	-webkit-flex: 1;
	-moz-flex: 1;
	flex: 1;
}